*.o
*.a
*.make
*.rsrc
*~
Makefile
CMakeCache.txt
cmake_install.cmake
CMakeFiles
install_manifest.txt
compile_commands.json
CMakeLists.txt.user
Source/build
.dir-locals.el
.ignore
GPATH
GRTAGS
GTAGS
ID
